* { 
    box-sizing: border-box;
}
#box {
    background-color: lightblue;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    font-size: 16pt;
}
h1 {
    text-align: center;
}

label {
    float: left;
    text-align: right;
     width: 35%;
}
select {
    margin: 5px;
    width: 60%
}
#stretch {
    width: 60%;
    margin: 5px;
    }