tr:nth-child(even) {
    background-color: lightgray;
}
table {
    border-collapse: collapse;
    border-spacing: 10px, 50px;
    font-size: 16pt;
    font-family: sans-serif;

}
td:nth-child(2) {
    text-align:right;
}
th:first-child {
    text-align: left;
}
.label {
    display: inline-block;
    position: relative;
}
nav {
    color: white;
    background-color: navy;
    font-family: sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 2px;
    margin-left: 0;
    margin-top: 0;
}
nav li {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
header h1 {
    background-color: darkred;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    margin-bottom: 1px;
}
.label:hover {
    cursor: pointer;
    background-color: darkgray;
}
.menu {
    position: absolute;
    text-align: left;
    top: 100%;
    background-color: darkgray;
    box-shadow: 5px 5px 10px black;
    display: none;
    list-style: none;
}
.menu li:hover {
    background-color: lightgray;
}
.menu li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-right: none;
}
a:link {
    text-decoration: none;
    color: white;
    display: block;   
}
.menu li:last-child {
    border-bottom: none;
    
}
.label:hover .menu {
    display: block;
    background-color:darkgray;
}
#A {
    position: absolute;
    left: 0;
    width: 70px;
}
#B {
    position: absolute;
    left: 0;
    width: 70px;
}
#C {
    position: absolute;
    left: 0px;
    width: 70px; 
}
#mobile {
    display: none;
}
@media (max-width: 40em) {
    nav {
        display: none;
    }
    #mobile {
        position: absolute;
        display: block;
        border-left: 1px solid white;
        right: 30px;
        top: 20px;
        bottom: 0;
        font-size: 24pt;
        height: 48px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .mobileMenu {
        position: absolute;
        display: none;
        padding-left: 4px;
        background-color: darkgray;
        top: 29px;
        right: 0;
        width: 80px;
    }
    #mobile:hover .mobileMenu {
        display: block;
        font-size: 14pt;
        list-style: none;
    }
    .mobileMenu li:hover {
        background-color: lightgray;
    }
}