tr:nth-child(even) {
    background-color: lightgray;
}
table {
    border-collapse: collapse;
    border-spacing: 10px, 50px;
    font-size: 16pt;
    font-family: sans-serif;

}
td:nth-child(2) {
    text-align:right;
}
th:first-child {
    text-align: left;
}
.label {
    color: white;
    background-color: navy;
    font-family: sans-serif;
    display: inline-block;
    padding: 5px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
    position: relative;
}
ul {
    list-style-type: none;
    padding-left: 0;
    background-color: navy;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 0;
    margin-top: 0;
}
header h1 {
    background-color: darkred;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    margin-bottom: 1px;
}
nav li:hover {
    cursor: pointer;
    background-color: darkgray;
}
.menu {
    position: absolute;
    text-align: left;
    top: 100%;
    background-color: darkgray;
    box-shadow: 5px 5px 10px black;
    display: none;
}
a:link {
    text-decoration: none;
    color: white;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
a:link:last-child {
    border-bottom: none;
    
}
.label:hover .menu {
    display: block;
}
#A {
    position: absolute;
    left: 0;
    width: 70px;
}
#B {
    position: absolute;
    left: 0;
    width: 70px;
}
#C {
    position: absolute;
    left: 0px;
    width: 70px; 
}
@media (max-width: 40em) {
    nav {
        display: none;
    }
    header div {
        position: absolute;
        &#9776;
        top: 0;
        right: 100px;
        bottom: 0;
        border-left-width: 1px;
        border-left-color: white;
        font-size: 32pt;
    }
    header div {
        position: absolute;
        text-align: left;
        top: 100%;
        background-color: darkgray;
        box-shadow: 5px 5px 10px black;
        display: none;
        bottom:auto;
    }
}