.tabbutton {
    display: inline-block;
    background-color: lightblue;
    width: 120px;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    outline: none;
    font-size: 21pt;
    text-align: center;
    padding-top: 10px;
}
.tabbutton:focus {
    background-color: darkblue;
    color: white;
}
#tabview0 {
    background-color: lightblue;
    display: block;
}
#tabparent {
    position: relative;
    display: inline-block;
}
.tabview {
    position: absolute;
    left: 0;
    background-color: darkblue;
    color: white;
    top: 50px;
    display: none;
    height: 50px;
    width: 368px;
}
#a:focus ~ #d {
    display: block;
}
#b:focus ~ #e {
    display: block;
}
#c:focus ~ #f {
    display: block;
}