/* ATTRACTIONS */

.places img {
    width: 350px;
    height: auto;
    float: left;
    display: block;
}

.places {
    text-align: center;
    display: inline-block;
    padding: 30px;
    height: 590px;
    width: 450px;
    vertical-align: top;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.places:nth-child(3n+1) {
    clear: left;
}

.attractions {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/*@media (max-width: 1600px) {
    .places {
        width: 100%;
    }
}*/

@media (max-width: 1100px) {
    .places img {
        width: 100%;
    }
    
    .places:nth-child(2n+1) {
        clear: left;
    }
    
    .places:nth-child(3n+1) {
        clear: none;
    }
}

@media (max-width: 460px) {
    .places img {
        width: 100%;
    }
    
    .places:nth-child(n+1) {
        clear: left;
    }
   
}