/* REGISTRY */

.stores img {
    width: 400px;
    height: auto;
}

.stores p {
    text-align: center;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.stores {
    text-align: center;
}