<<<<<<< HEAD
body{ 
    background-color:#0B92FF;
   width: 800px; }
h1 {color:#C6CC1D; }
h2 {color:#FF2C25;}
h3 {color:#ADB211;}
figcaption {font-style:italic; color:#A4A9AD;} 
=======
body{ 
    background-color:#0B92FF;
   width: 800px; }
h1 {color:#C6CC1D; }
h2 {color:#FF2C25;}
h3 {color:#ADB211;}
figcaption {font-style:italic; color:#A4A9AD;} 
>>>>>>> origin/master
figure {width: 600px;} 