/* All */ 
* {
    box-sizing: border-box;
}

nav {
    display: inline-block; 
    background-color: white;
    width: 100%;
    position: relative;
    padding-top: 20px;
}

#mobile {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 2px;
    font-family: "playfair display";
}

nav li {
    display: inline-block;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: white;
    padding: 5px 5px 5px 0;
}

p {
    margin-left: 20%;
    margin-right: 20%;
}

.weddinginfo, .ourStory, .attractions, .registry h1 {
    margin-bottom: 50px;
    margin-top: 10px;   
}

a:link {
    text-decoration: none;
}

/* why doesn't this work? */
.label:hover {
    cursor: pointer;
    background-color: skyblue;
}

.label {
    display: inline-block;
    position: relative;
}

li a {
    text-decoration: none;
    font-size: 16pt;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
} 

.active {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

body {
    margin: 0;
    background-color: white;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: "playfair display";
}

/* I tried 
.submenu {
    position: absolute;
    display: none;
    background: #ccc;
}

nav ul li:hover {
    display: inline-block;
}

*/

/* Home */ 

.home img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 800px;
    margin-top: 0;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

@media (max-width: 480px) {
    #mobile {
        display: block;
        float: right;
        font-size: 24pt;
        height: 46px;
        width: 30px;
    }
    
    p {
        margin-left: 30%;
        margin-right: 30%;
    }
    
    nav {
        display: none;
    }
    
    .mobileMenu {
        list-style: none;
        position: absolute;
        right: 0;
        top: 28px;
        z-index: 100;
        text-align: left;
        padding-left: 0;
        background-color: white;
        box-shadow: 5px 5px 5px black;
        display: none;
    }
    
    #mobile:hover .mobileMenu {
        display: block;
        font-size: 14pt;
        list-style: none;
    }
    
    .mobileMenu li:hover {
        background-color: skyblue;
    }
    
    .home img {
        width: 100%;
    }
     
}

@media (max-width: 800px) {
    .home img {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .weddinginfo .ceremony img, #gmap_canvas {
        width: 100%;
    }
}

/* Wedding Info */ 


.weddinginfo h2 {
    margin-bottom: 10px;
    font-size: 24pt;
}

/* why doesn't this work? */

.weddinginfo h2:nth-child(2) {
    margin-bottom: 5px;
}

.weddinginfo h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16pt;
}

.weddinginfo h4 {
    margin-top: 0;
    margin-bottom: 0;
}

/* why doesn't this work? 
.weddinginfo h2:nth-of-type(4) {
    margin-bottom: 10px;
}
*/

.weddinginfo img {
    height: auto;
    width: 550px;
}

.border img {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.weddinginfo .ceremony {
    margin-bottom: 50px;
}

.weddinginfo p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.mapouter {
    margin-left: auto;
    margin-right: auto;
}

.ceremony {
    text-align: center;
}
/* Wedding Party */

.party {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.party img {
    display: block;
    width: 200px;
    height: auto;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.party img:nth-child(3n+1) {
    clear: left;
}

.weddinginfo .partyheader {
    padding-bottom: 20px;
}

/* OUR STORY */

.ourStory h1 {
  font-size: 32 pt;  
}

.ourStory img {
    width: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 80px;
}

.ourStory img:last-of-type {
    margin-bottom: 15px;
}

.ourStory p {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.ourStory .firstcharacter {
    float: left;
    font-size: 40pt;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-right: 8px;
    line-height: 51px;
    margin-top: -5px;
}
/* ATTRACTIONS */

.attractions .places img {
    width: 300px;
    height: auto;
}

.attractions .places #fish {
    margin-bottom: 50px;
}

.attractions .places h2 {
    margin-top: 50px;
}

.attractions .places {
    text-align: center;
}
/* REGISTRY */

.stores img {
    width: 400px;
    height: auto;
}

.stores p {
    text-align: center;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.stores {
    text-align: center;
}




