/* All */ 
* {
    box-sizing: border-box;
}

nav {
    display: inline-block; 
    background-color: lightsalmon;
    width: 100%;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

li a {
    text-decoration: none;
    font-size: 16pt;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
} 

.active {
    background-color: darksalmon;
}

body {
    margin: 0;
    background-color: lightblue;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* I tried 
.submenu {
    position: absolute;
    display: none;
    background: #ccc;
}

nav ul li:hover {
    display: inline-block;
}

*/

/* Home */ 

.home img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 800px;
}

/*
@media (max-width: 480px) {
    nav {
        
    }
} */

/* Wedding Info */ 

.weddinginfo h1 {
    margin: 50px 0;
    font-size: 32pt;
}
.weddinginfo h2 {
    margin-bottom: 0px;
    font-size: 24pt;
}

/* why doesn't this work?

.weddinginfo h2:nth-child(2) {
    margin-bottom: 5px;
*/
}

.weddinginfo h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18pt;
}

.weddinginfo h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.weddinginfo, .ourStory p {
    margin-left: 30%;
    margin-right: 30%;
}

.weddinginfo img {
    height: auto;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.weddinginfo .ceremony {
    margin-bottom: 50px;
}

.mapouter {
    margin-left: auto;
    margin-right: auto;
}

/* Wedding Party */

.party {
    display: inline-block;
    text-align: center;
}

.party img {
    display: block;
    width: 200px;
    height: auto;
    float: left;
}

.party img:nth-child(3n+4) {
    clear: left;
}
/* OUR STORY */

.ourStory h1 {
  font-size: 32 pt;  
}

/* ATTRACTIONS */

.attractions .places img {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.attractions .places h2 {
    margin-top: 50px;
}



